.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    margin-top: 10rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .inputGroup input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
    transition: border-color 0.3s ease;
  }
  
  .inputGroup input:focus {
    border-color: #3d038a;
  }
  
  .button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #3d038a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 50%;
  }
  
  .button:hover {
    background-color: #29115c;
  }
  
  .errorMessage {
    color: #e74c3c;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  