/* Container utama untuk halaman */
.container {
  display: flex;
  min-height: 100vh;
  background-color: #f1f3f5;
}

/* Konten utama di sebelah sidebar */
.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  margin-left: 12%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Daftar pesanan */
.orderList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Penyesuaian grid */
  gap: 20px;
}

/* Gaya untuk setiap kartu pesanan */
.orderCard {
  background-color: #fff;
  border: 1px solid #e3e6e8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Flex arah vertikal */
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}

.orderCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Wrapper untuk gambar produk */
.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Gambar produk */
.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Gaya untuk detail pesanan */
.orderDetails {
  flex: 1;
  text-align: left;
}

.orderDetails h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.orderDetails p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

/* Gaya untuk grup tombol */
.buttonGroup {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px; /* Memberi jarak di antara detail dan tombol */
}

/* Tombol untuk membayar sekarang */
.payButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.payButton:hover {
  background-color: #0056b3;
}

/* Tombol untuk membatalkan pesanan */
.cancelButton {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #d32f2f;
}


