/*
 * HomeShopper.module.css
 * This is the CSS for the HomeShopper page.
 * It contains the styles for the page, including the container, main content, and the grid of products.
 */
.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-left: 12%;
  width: 90%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Grid layout for products */
.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Product card styling */
.productCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.productTable {
  width: 100%;
  margin-bottom: 15px;
}

.productTable td {
  padding: 5px;
  vertical-align: top;
}

.productTable td:first-child {
  width: 30%;
  font-weight: bold;
}

.productTable td:nth-child(2) {
  width: 5%;
  text-align: center;
}

.productTable td:last-child {
  width: 65%;
}

/* Buttons */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.addToCartButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #45a049;
}

.buyButton {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

.buyButton:hover {
  background-color: #e53935;
}

/* Error message styling */
.errorMessage {
  color: red;
  font-weight: bold;
}