/**
 * This is the CSS for the Login page.
 * It contains the styles for the page, including the outer container, login container, and the box form.
 */
.outerContainer {
    min-height: 100vh;
    width: 100%;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}

/* Kontainer form login */
.boxForm {
    display: flex;
    max-width: 100%;
    max-height: 80%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.left {
    width: 50%;
    max-height: 100%;
    background: url('../../image/login_bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    max-width: 100%;
    height: 100%;
    background: rgba(61, 55, 55, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.overlay h1 {
    font-size: 2.5rem;
    max-width: 90%;
    margin-bottom: 20px;
    color: white;
}

.overlay p {
    font-size: 1rem;
    max-width: 90%;
    margin-bottom: 30px;
    color: white;
}

.right {
    width: 50%;
    max-height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(163, 157, 150);
}

.right h5 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.right p {
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.inputField {
    max-width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.button {
    max-width: 100%;
    padding: 15px;
    border: none;
    background: #2d3e50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background: #3a4a61;
}

/* Container for Remember me and Forgot Password using grid */
.rememberMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

/* Left column for checkbox and label */
.leftColumn {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

/* Right column for Forgot Password link */
.rightColumn {
    text-align: right;
}

/* Text after the checkbox */
.textCheckbox {
    margin-left: 5px;
    font-size: 0.9rem;
}

/* Forgot password link style */
.rightColumn p {
    margin: 0;
    font-size: 0.9rem;
}

.rightColumn p a {
    text-decoration: none;
    color: #2d3e50;
    cursor: pointer;
}

.rightColumn p a:hover {
    text-decoration: underline;
    color: #2d3e50;
}