/*
 * Footer.module.css
 *
 * This is the CSS for the footer of the whole website
 *
 */
.footer {
  background-color: #2d3e50;
  padding: 0.5rem 0;
  color: white;
  width: 100%;
  max-width: 100%;
  margin-top: auto;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footerLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.footerLinks a {
  color: white;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0.5rem 0;
  font-size: 14px;
}